/*
  .modules/_colors.scss
  Module des couleurs
 */

// ----------------------------------------
// COLORS VARIABLES
// ----------------------------------------
$color-1: #18bfef;
$color-2: #4e403d;
$color-text: #212931;

$color-neutral-1: #f6f6f6;
$color-neutral-2: #717981;
$color-neutral-3: #cfcfcf;
$color-neutral-4: #fff;

// COLOR-BLOCK
$color-block-dim: 7em;
$color-block-margin: 0.2em 0.2em 0 0;
$color-block-display:flex;
$color-block-justify-content:center;
$color-block-align-items:center;
$color-block-border:$color-neutral-3 1px solid;
// ----------------------------------------
// COLOR BLOCKS
// ----------------------------------------

.color-block {
  display:$color-block-display;
  justify-content:$color-block-justify-content;
  align-items: $color-block-align-items;
  width: $color-block-dim;
  height: $color-block-dim;
  border: $color-block-border;
  color: $color-neutral-1;
  margin: $color-block-margin;

  &.color-1 {
    background: $color-1;
  }
  &.color-2 {
    background: $color-2;
  }
  &.color-text {
    background: $color-text;
  }
  &.color-neutral-1 {
    background: $color-neutral-1;
    color: $color-text;
  }
  &.color-neutral-2 {
    background: $color-neutral-2;
  }
  &.color-neutral-3 {
    background: $color-neutral-3;
  }
  &.color-neutral-4 {
    background: $color-neutral-4;
    color: $color-text;
  }
}
