@use 'sass:map';
/*
  .modules/_init.scss
  Module d'initialisation 
 */

//------------------------------------------------------------------------------------------------
//MODULE VARIABLES
//------------------------------------------------------------------------------------------------
//BREAKPOINTS-----------------------------------
$screen-sizes: (
  "xs": (
    "breakpoint": 0,
    "container-size": 100%,
  ),
  "s": (
    "breakpoint": 576px,
    "container-size": 95%,
  ),
  "m": (
    "breakpoint": 768px,
    "container-size": 90%,
  ),
  "l": (
    "breakpoint": 992px,
    "container-size": 85%,
  ),
  "xl": (
    "breakpoint": 1200px,
    "container-size": 75%,
  ),
);
//AUTRE------------------------------------

//------------------------------------------------------------------------------------------------
//MODULE SPECIFICATIONS
//------------------------------------------------------------------------------------------------
//GENERAL-----------------------------------

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

//RESET-----------------------------------

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
figure {
  margin: 0;
}
// HELPER--------------------------------
