/*
  ./src/scss/app.scss
    conctruction du css spécifique à l'application
 */
//IMPORT FRAMEWORK
@import "./gradzwork/scss/index.scss";

// PARTICULARITY OF THIS WEB SITE
body {
  background: $color-text;
}

li {
  display: list-item;
}
p {
  text-align: justify;
}



// ------------------------------------------------------------------------------------------------------------------------------------
// SITE HEADER
// ---------------------------------
.siteHeader {
  background: radial-gradient(circle at top, $color-2 0%, $color-text 250px);
  @media screen and (min-width: map-get($screen-sizes, "m", "breakpoint")) {
    background: radial-gradient(circle at top, $color-2 0%, $color-text 350px);
  }
  color: $color-neutral-1;
  margin: 0;
  position: relative;
}

// ------------------------------------------------------------------------------------------------------------------------------------
// SPECIFICITY
// ---------------------------------
.siteContent {
  background: $color-neutral-4;
  padding: 2rem 0 2rem 0;
  border-radius: $border-radius-default;
}

.mainContent{
padding:2rem 4em 2rem 4em;
}

.box-content {
  color: $color-neutral-1;
  padding: 5rem 1rem 2rem 1rem;
   h1 {
    color: $color-neutral-1;
  }
    .subtitle-2 {
    color: $color-neutral-3;
    font-family: $font-2;
    font-weight: 500;
    text-transform: none;
  }
  h2 a{
    color:$color-neutral-1;
  }
   .icon {
    padding: 1.5em;
    font-size: 0.9em;
  }
  @media screen and (min-width: map-get($screen-sizes, "s", "breakpoint")) {
    padding: 7rem 1rem 2rem 1rem;
  }
  .icon {
    color: $color-neutral-1;
  }
}

// FORM ICON in RADIO AND CHECKED
.radio-label:before{
  border-radius: 50%;
}
.checkbox-label:before, .radio-label:before {
    content: "";
    border: 2px solid #eae6e6;
    padding: .3em .9em;
    margin-right: 1em;
}
.checkbox-input:checked +.checkbox-label:before,
.checkbox-input:checked+.radio-label:before,
.radio-input:checked+.checkbox-label:before,
.radio-input:checked+.radio-label:before {
    background: #212931;
    color: #fff;
    content: "";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    padding: 0.4em;
}

// ------------------------------------------------------------------------------------------------------------------------------------
//MENU-----------------------

.menu-slider {
  position: fixed;
  top: 1rem;
  right: 5%;
  font-size:0.8em;
  @media screen and (min-width: map-get($screen-sizes, "s", "breakpoint")) {
    right: 5%;
  }
  color: $color-neutral-1;
  z-index: 1;
}

.siteLogo {
padding:5em;
}

.sticky {
  position: sticky;
  top: 0;
  &.sticked {
    background:$color-neutral-1 0.2;
    color:$color-text;
  }
}
// ID MENU RESPONSIVE TRIGGER
// -----------------------------------------------------------
#trigger {
  cursor: pointer;
}

#triggered {
  position: fixed;
  top: 0;
  right: -50%;
  height: 100vh;
  width: 30%;
  background: $color-neutral-1;
  z-index: 1;
  text-align: left;
  transition: all 900ms ease-in-out;
  &.visible {
    right: 0;
  }
  .triggered-link {
    padding: 0;
    list-style: none;
    li:not(:first-child){
    margin: 0 1em;
    border:none;
    }
    li:not(:first-child){
    border-bottom: 2px solid $color-neutral-3;
    }
    li:last-child{
    border-bottom:0;
    }
    a {
      display: inline-block;
      text-decoration: none;
      padding: 1rem;
      font-family: $font-2;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 0.8em;
      color: $color-text;
      &:hover {
        color: $color-1;
      }
    }
  }
  .triggered-icon {
    display: flex;
    padding: 0 1rem;
    margin: 1rem;
    list-style: none;
    li {
      padding-right: 0.5em;
    }
    .icon {
      color: $color-text;
      font-size:0.9em;
      height: 30px;
      width: 30px;
      &:hover {
        color: $color-1;
      }
    }
  }
}

#close {
  cursor: pointer;
  display: block;
  color: $color-neutral-2;
  font-size: 1.2rem;
  padding-right: 1rem;
  margin: 1rem 0;
  &:hover {
    color: $color-1;
  }
}

// ------------------------------------------------------------------------------------------------------------------------------------
// SITE MAINFOOTER
// ---------------------------------
.mainFooter {
  background: $color-neutral-1;
  border-radius: $border-radius-default;
  .footerForm {
    padding: 1rem 2rem 1rem 2rem;
    > * {
      flex-direction: column;
    }
    input{
      background-color: $color-neutral-1;
    }
    label,
    .h4 {
      color: $color-neutral-2;
    }
    textarea {
      height: 10rem;
      background-color: $color-neutral-1;
    }
    button {
      color: $color-neutral-2;
      border: 3px solid $color-neutral-2;
      &:hover {
      color: $color-1;
      border: 3px solid $color-1;
  }
    }
  }
  .footerContact {
    border-left: 0;
    @media screen and (min-width: map-get($screen-sizes, "m", "breakpoint")) {
      border-left: 2px solid $color-neutral-3;
    }
    .h4,
    a,
    .btn {
      color: $color-neutral-2;
    }
    
    .contactItem {
      display: flex;
      justify-items: center;
      align-items: baseline;
      padding: 3em 2em;
      border-left: 0;
      border-top: 2px solid $color-neutral-3;
      &:first-child {
        border-top: 2px solid $color-neutral-3;
        @media screen and (min-width: map-get($screen-sizes, "l", "breakpoint")) {
          border-top: 0;
        }
      }
      .h4 {
        margin-right: 2em;
      }
    }
    
    .icon:hover {
      color: $color-1;
    }
    
  }
}

// SITE FOOTER ------------------------------

.SiteFooter {
  letter-spacing: .1em;
  padding: 2rem 0 4rem;
  color: $color-neutral-2;
  font-family: $font-2;
  font-weight: 900;
  a {
    color: $color-neutral-2;
    text-decoration: underline dotted;
  }
}

